<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Login2.css') }}" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css"
    />
    <title>roomik</title>
  </head>
  <body>
    <form action="/Login2/submit" method="post" onsubmit="submitForm()">
      <div id="wrapper">
        <!-- header 규격 설정 -->
        <div id="header">
          <div id="header_left">
            <a href="{{ url_for('L1') }}">
              <img
                src="{{ url_for('static', filename='images/Login_arrow.png') }}"
                alt="뒤로가기"
                width="7px"
                height="14px"
              />
            </a>
          </div>
          <p id="header_title">회원가입</p>
        </div>
        <!-- header 규격 설정 -->

        <!-- 로그인 설명 규격 설정 -->
        <div id="information">
          <div id="number">2/4</div>
          <div id="detail_infor">아이디와 비밀번호를<br />입력해 주세요.</div>
        </div>
        <!-- 로그인 설명 규격 설정 -->

        <!-- 아이디 규격 설정 -->
        <div id="id1">
          <div id="id_title">아이디</div>
        </div>
        <div id="id2">
          <input
            type="text"
            placeholder="아이디를 입력해 주세요."
            id="write_id"
            oninput="selectButton()"
            oninput="checkInputs()"
            name="write_id"
          />
          <button class="id_button" id="id_button_Disabled" type="button">
            중복 확인
          </button>
        </div>
        <!-- 아이디 규격 설정 -->

        <!-- 비밀번호 규격 설정 -->
        <div id="pw">
          <div id="pw_title">비밀번호</div>
          <input
            type="text"
            placeholder="비밀번호를 입력해 주세요."
            id="write_pw"
            oninput="checkInputs()"
            name="write_pw"
          />
        </div>

        <div id="pw_check">
          <div id="pw_check_title">비밀번호 확인</div>
          <input
            type="text"
            placeholder="비밀번호를 재확인해 주세요."
            id="write_pw_check"
            oninput="checkInputs()"
            name="write_pw_check"
          />
        </div>
        <!-- 비밀번호 규격 설정 -->

        <!-- 버튼 규격 설정 -->
        <div class="btn">
          <!-- <a href="../templates/Login3.html"> -->
          <button
            type="submit"
            class="confirm"
            id="btnDisabled"
            onclick="submitForm()"
          >
            다음
          </button>
          <!-- </a> -->
        </div>
        <!-- 버튼 규격 설정 -->
      </div>
    </form>
    <script>
      function checkInputs() {
        // 각각의 input 요소에서 값 가져오기
        var input1Value = document.getElementById("write_id").value;
        var input2Value = document.getElementById("write_pw").value;
        var input3Value = document.getElementById("write_pw_check").value;
        var myButton = document.getElementsByClassName("confirm")[0];

        // 두 input 중 하나라도 값이 있으면 버튼 활성화, 아니면 비활성화
        if (
          input1Value.trim() !== "" &&
          input2Value.trim() !== "" &&
          input3Value.trim() !== ""
        ) {
          myButton.id = "btnActive";
          myButton.disabled = false;
        } else {
          myButton.id = "btnDisabled";
          myButton.disabled = true;
        }
      }
      function selectButton() {
        // 각각의 input 요소에서 값 가져오기
        var input1Value = document.getElementById("write_id").value;
        var myButton = document.getElementsByClassName("id_button")[0];

        // 두 input 중 하나라도 값이 있으면 버튼 활성화, 아니면 비활성화
        if (input1Value.trim() !== "") {
          myButton.id = "id_button_Active";
          myButton.disabled = false;
        } else {
          myButton.id = "id_button_Disabled";
          myButton.disabled = true;
        }
      }
    </script>
  </body>
</html>
